$scrollbar-width: 6px; // 设置滚动条的宽度
$scrollbar-thumb-color: #f0f0f0; // 设置滚动条滑块的颜色
$scrollbar-track-color: #ffffff; // 设置滚动条轨道的颜色

// 全局滚动条样式
* {
  &::-webkit-scrollbar {
    width: $scrollbar-width;
    background-color: $scrollbar-track-color;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $scrollbar-thumb-color;
    border-radius: 12px;
  }
}